n8n-workflows/slack-mention-handler.json
{
  "name": "Slack Mention Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-mention",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "slack-mention"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_DASHBOARD_URL }}/api/plugins/slack/users/{{ $json.body.user }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-user-info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const e = $('Webhook').item.json.body;\nconst u = $('Get User Info').item.json?.user || {};\nconst name = u.display_name || u.real_name || u.name || null;\nreturn {\n  json: {\n    channel: e.channel,\n    user: e.user,\n    user_name: name,\n    text: e.text,\n    ts: e.ts,\n    thread_ts: e.thread_ts || e.ts,\n    project: '__CLAUDIO_PROJECT__'\n  }\n};"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-text",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "loading"
      },
      "id": "loading",
      "name": "Loading",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1152,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/projects/{{ $('Parse').item.json.project }}/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse').item.json.text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "classify",
      "name": "Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.static_response }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-static-response",
      "name": "Static?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const cls = $input.first().json;\nreturn { json: { text: cls.static_response } };"
      },
      "id": "format-static",
      "name": "Format Static",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        192
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-static",
      "name": "Done Static",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1904,
        48
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "text": "={{ $('Format Static').item.json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Parse').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "reply-static",
      "name": "Reply Static",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2256,
        48
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/workflows/stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'slack-mention-handler', status: 'success', metadata: { type: 'static', channel: $('Parse').item.json.channel, user: $('Parse').item.json.user } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "record-stats-static",
      "name": "Stats Static",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        48
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const req = $('Parse').item.json;\nconst cls = $('Static?').item.json;\n\nconst instruction = `[Slack Context]\n• Channel: ${req.channel}\n• Thread: ${req.thread_ts}\n\n## Context Resolution\n**Thread refs** (\"위의 글\", \"above\", etc.) → Fetch via slack-workspace skill\n**Object refs** (\"그거\", \"it\", implicit subject) → Check <user_context> Recent Requests\n\n## Ambiguous Reference Handling\nWhen request lacks explicit subject:\n1. Fetch Slack thread context for thread-related refs\n2. Check <user_context> Recent Requests (especially within 5min) for session continuity\n3. Use BOTH sources to infer intent - do NOT ask for clarification if context is available`;\n\nreturn {\n  json: {\n    ...req,\n    agent: cls.agent || 'general',\n    instruction,\n    user_message: cls.prompt ? `${cls.prompt}\\n\\n${req.text}` : req.text\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/projects/{{ $json.project }}/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_message: $json.user_message, source: 'slack', requester: $json.user, agent: $json.agent, instruction: $json.instruction, metadata: { channel: $json.channel, thread_ts: $json.thread_ts, user_name: $json.user_name, workflow_execution_id: $executionId } }) }}",
        "options": {
          "timeout": 660000
        }
      },
      "id": "execute",
      "name": "Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/format/mrkdwn",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.result || '' }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "format",
      "name": "Format",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return { json: { text: $json.text, execution_id: $('Success?').item.json.id } };"
      },
      "id": "extract-result",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        304
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-ok",
      "name": "Done OK",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2576,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "text": "={{ $('Extract Result').item.json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Parse').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "reply",
      "name": "Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2928,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/{{ $('Extract Result').item.json.execution_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reply_channel: $json.channel, reply_ts: $json.message.ts }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "set-context",
      "name": "Set Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3104,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Reply').item.json.channel }}"
        },
        "timestamp": "={{ $('Reply').item.json.message.ts }}",
        "name": "thumbsup"
      },
      "id": "add-thumbsup",
      "name": "👍",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3328,
        176
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Reply').item.json.channel }}"
        },
        "timestamp": "={{ $('Reply').item.json.message.ts }}",
        "name": "thumbsdown"
      },
      "id": "add-thumbsdown",
      "name": "👎",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3328,
        368
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/workflows/stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'slack-mention-handler', execution_id: $('Extract Result').item.json.execution_id, status: 'success', duration_ms: $('Execute').item.json.duration_ms, metadata: { agent: $('Build Prompt').item.json.agent, channel: $('Parse').item.json.channel, user: $('Parse').item.json.user } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "record-stats-ok",
      "name": "Stats OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3536,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/webhook/user-context",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Parse').item.json.user, user_name: $('Parse').item.json.user_name }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "trigger-context",
      "name": "Update Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-err",
      "name": "Done Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2224,
        544
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "x"
      },
      "id": "add-x",
      "name": "❌",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2400,
        544
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Success?').item.json;\nconst p = $('Build Prompt').item.json;\nconst msg = r.status === 'timeout' ? `:hourglass: Timeout (${p.agent})` : `:x: Error: ${r.error?.message || 'Unknown'}`;\nreturn { json: { text: msg, execution_id: r.id } };"
      },
      "id": "err-msg",
      "name": "Err Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        544
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Parse').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "reply-err",
      "name": "Reply Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2752,
        544
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/workflows/stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'slack-mention-handler', execution_id: $json.execution_id, status: $('Success?').item.json.status === 'timeout' ? 'timeout' : 'error', duration_ms: $('Execute').item.json.duration_ms, metadata: { agent: $('Build Prompt').item.json.agent, channel: $('Parse').item.json.channel, user: $('Parse').item.json.user, error: $('Success?').item.json.error?.message } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "record-stats-err",
      "name": "Stats Err",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Parse\").item.json.channel }}"
        },
        "timestamp": "={{ $(\"Parse\").item.json.ts }}",
        "name": "white_check_mark"
      },
      "id": "add-check-ok",
      "name": "✅",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2752,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Parse\").item.json.channel }}"
        },
        "timestamp": "={{ $(\"Parse\").item.json.ts }}",
        "name": "white_check_mark"
      },
      "id": "add-check-static",
      "name": "✅ Static",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2080,
        48
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Loading",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loading": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Static?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Static?": {
      "main": [
        [
          {
            "node": "Format Static",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Static": {
      "main": [
        [
          {
            "node": "Done Static",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Static": {
      "main": [
        [
          {
            "node": "✅ Static",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Static": {
      "main": [
        [
          {
            "node": "Stats Static",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result": {
      "main": [
        [
          {
            "node": "Done OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done OK": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "👍",
            "type": "main",
            "index": 0
          },
          {
            "node": "👎",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👍": {
      "main": [
        [
          {
            "node": "Stats OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats OK": {
      "main": [
        [
          {
            "node": "Update Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Err": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌": {
      "main": [
        [
          {
            "node": "Err Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Err Msg": {
      "main": [
        [
          {
            "node": "Reply Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Err": {
      "main": [
        [
          {
            "node": "Stats Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Static": {
      "main": [
        [
          {
            "node": "Reply Static",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
