n8n-workflows/slack-feedback-handler.json
{
  "name": "Slack Feedback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "slack-feedback"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const e = $input.first().json.body;\n\nif (!['reaction_added', 'reaction_removed'].includes(e.type)) {\n  return { json: { skip: true } };\n}\n\nconst reaction = e.reaction;\nconst userId = e.user;\n// Support both nested (Slack API) and flat (bridge) formats\nconst channel = e.item?.channel || e.channel;\nconst messageTs = e.item?.ts || e.message_ts;\n\nif (!reaction || !userId || !messageTs) {\n  return { json: { skip: true } };\n}\n\nreturn {\n  json: {\n    skip: false,\n    action: e.type === 'reaction_added' ? 'upsert' : 'delete',\n    reaction,\n    user_id: userId,\n    channel,\n    message_ts: messageTs\n  }\n};"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/lookup?source=slack&ref_key=reply_ts&ref_value={{ encodeURIComponent($json.message_ts) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "lookup",
      "name": "Lookup Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.execution?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "found",
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lookup = $input.first().json;\nconst parse = $('Parse').item.json;\n\nreturn {\n  json: {\n    execution_id: lookup.execution.id,\n    user_id: parse.user_id,\n    reaction: parse.reaction,\n    action: parse.action\n  }\n};"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "action_type",
      "name": "Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/{{ $json.execution_id }}/reactions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, reaction: $json.reaction }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "upsert",
      "name": "Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/{{ $json.execution_id }}/reactions?user_id={{ encodeURIComponent($json.user_id) }}&reaction={{ encodeURIComponent($json.reaction) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "delete",
      "name": "Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        400
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Lookup Execution",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Lookup Execution": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action?": {
      "main": [
        [
          {
            "node": "Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
