n8n-workflows/slack-message-handler.json
{
  "name": "Slack Message Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "slack-message"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const INCIDENT_CHANNELS = '__INCIDENT_CHANNELS__'.split(',').filter(Boolean);\nconst e = $('Webhook').item.json.body;\nif (INCIDENT_CHANNELS.length > 0 && !INCIDENT_CHANNELS.includes(e.channel)) return { json: { skip: true } };\nconst att = (e.attachments || []).find(a => (a.title || '').startsWith('Triggered:'));\nif (!att) return { json: { skip: true } };\n\nconst title = att.title || '', text = att.text || '';\nconst tm = title.match(/^Triggered:\\s*\\[([^\\]]+)\\]\\s*\\[([^\\]]+)\\]\\s*([^,]+),\\s*(.+?)\\s+on\\s+env:(\\w+)$/);\nconst qm = text.match(/monitored query:\\s*<[^|]+\\|`?([^`>]+)`?>/);\nconst query = qm ? qm[1].replace(/\\\\@/g, '@') : '';\nconst sm = query.match(/service:([^\\s]+)/);\n\nconst alert = {\n  severity: tm?.[1] || 'unknown',\n  project: tm?.[2] || 'unknown',\n  alert_name: tm?.[3] || 'unknown',\n  env: tm?.[5] || 'unknown',\n  service: sm?.[1] || '',\n  trace_id: text.match(/log traceId\\s*:\\s*(\\S+)/)?.[1]?.replace(/\\\\+$/, '') || '',\n  log_timestamp: text.match(/log timestamp:\\s*(\\S+)/)?.[1]?.replace(/\\\\+$/, '') || '',\n  log_message: text.match(/log message\\s*:\\s*(.+?)(?:\\\\|\\n|$)/)?.[1]?.replace(/<[^|>]+\\|([^>]+)>/g, '$1').trim() || '',\n  query\n};\n\nconst prompt = `Analyze Incident Alert\\n\\n## Alert Info\\n- Severity: ${alert.severity}\\n- Project: ${alert.project}\\n- Environment: ${alert.env}\\n- Service: ${alert.service}\\n- Alert Name: ${alert.alert_name}\\n\\n## Log Details\\n- Trace ID: ${alert.trace_id || 'N/A'}\\n- Timestamp: ${alert.log_timestamp || 'N/A'}\\n- Message: ${alert.log_message || 'N/A'}\\n\\n## Datadog Query\\n${query || 'N/A'}`;\n\nreturn { json: { skip: false, channel: e.channel, ts: e.ts, thread_ts: e.thread_ts || e.ts, prompt, alert } };"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "incident",
      "name": "Incident?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "loading"
      },
      "id": "loading",
      "name": "Loading",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        960,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/projects/system/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_message: $('Parse').item.json.prompt, agent: 'Incident Analyzer', source: 'slack', requester: 'slack-incident-workflow', metadata: { channel: $('Parse').item.json.channel, thread_ts: $('Parse').item.json.thread_ts, service: $('Parse').item.json.alert.service, env: $('Parse').item.json.alert.env, triggered_by: 'datadog', workflow_execution_id: $executionId } }) }}",
        "options": {
          "timeout": 660000
        }
      },
      "id": "analyze",
      "name": "Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json, p = $('Parse').item.json, meta = r.structured_output || {};\nconst can_auto_fix = meta.can_auto_fix === true;\nreturn { json: {\n  channel: p.channel, ts: p.ts, thread_ts: p.thread_ts, execution_id: r.id, alert: p.alert,\n  slack_report: meta.slack_report || ':warning: Analysis completed but no report generated',\n  jira_title: meta.jira_title || `[BUG] ${p.alert.service} - ${p.alert.alert_name}`,\n  can_auto_fix,\n  context: JSON.stringify({ alert: p.alert, analysis: meta, can_auto_fix })\n}};"
      },
      "id": "extract",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        256
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "text": "={{ $('Extract').item.json.slack_report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Extract').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "post-report",
      "name": "Post Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1680,
        256
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "text": "={{ $('Extract').item.json.can_auto_fix ? `:jira-new: *${$('Extract').item.json.jira_title}*\\n:one: JIRA 생성 | :two: JIRA + 자동수정` : `:jira-new: *${$('Extract').item.json.jira_title}*\\n:one: JIRA 생성` }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Extract').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "post-options",
      "name": "Post Options",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1856,
        256
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/{{ $('Extract').item.json.execution_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reaction_target_ts: $json.message_timestamp, reply_channel: $('Extract').item.json.channel, reply_ts: $('Extract').item.json.thread_ts, context: $('Extract').item.json.context }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "set-context",
      "name": "Set Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        256
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Post Options').item.json.message_timestamp }}",
        "name": "one"
      },
      "id": "add-one",
      "name": ":one:",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2208,
        96
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Extract').item.json.can_auto_fix }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "can-autofix",
      "name": "Can AutoFix?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        304
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Post Options').item.json.message_timestamp }}",
        "name": "two"
      },
      "id": "add-two",
      "name": ":two:",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2448,
        288
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Extract').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading",
      "name": "Remove Loading",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2384,
        96
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Extract').item.json.ts }}",
        "name": "white_check_mark"
      },
      "id": "done",
      "name": "✅",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2560,
        96
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-err",
      "name": "Remove Loading Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1504,
        464
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "x"
      },
      "id": "add-x",
      "name": "❌",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1680,
        464
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $('Success?').item.json, p = $('Parse').item.json;\nreturn { json: { text: r.status === 'timeout' ? `:hourglass: Analysis timeout (${p.alert.service})` : `:x: Analysis failed: ${r.error?.message || 'Unknown'}` } };"
      },
      "id": "err-msg",
      "name": "Err Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        464
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Parse').item.json.thread_ts }}"
            }
          }
        }
      },
      "id": "reply-err",
      "name": "Reply Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2032,
        464
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Incident?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incident?": {
      "main": [
        [
          {
            "node": "Loading",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loading": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Loading Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Post Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Report": {
      "main": [
        [
          {
            "node": "Post Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Options": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": ":one:",
            "type": "main",
            "index": 0
          },
          {
            "node": "Can AutoFix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ":one:": {
      "main": [
        [
          {
            "node": "Remove Loading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can AutoFix?": {
      "main": [
        [
          {
            "node": ":two:",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Remove Loading": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Loading Err": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌": {
      "main": [
        [
          {
            "node": "Err Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Err Msg": {
      "main": [
        [
          {
            "node": "Reply Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
