n8n-workflows/slack-message-handler.json
{
  "name": "Slack Message Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "slack-message"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const INCIDENT_CHANNELS = '__INCIDENT_CHANNELS__'.split(',').filter(Boolean);\nconst SERVICE_PREFIX = '__SERVICE_PREFIX__';\nconst e = $('Webhook').item.json.body;\n\nif (INCIDENT_CHANNELS.length > 0 && !INCIDENT_CHANNELS.includes(e.channel)) return { json: { skip: true } };\n\nconst att = (e.attachments || []).find(a => a.callback_id === 'datadog-event-message');\nif (!att) return { json: { skip: true } };\n\nconst title = att.title || '';\nif (!title.startsWith('Triggered:')) return { json: { skip: true } };\n\nconst titleMatch = title.match(/^Triggered:\\s*\\[([^\\]]+)\\]\\s*\\[([^\\]]+)\\]\\s*[^,]+,\\s*(.+)$/);\nconst env = titleMatch ? titleMatch[2] : 'real';\nlet service = titleMatch ? titleMatch[3].trim() : 'unknown';\nif (SERVICE_PREFIX && service.startsWith(SERVICE_PREFIX)) service = service.replace(SERVICE_PREFIX, '');\n\nconst text = att.text || '';\nconst serviceMatch = text.match(/service\\s*:\\s*(.+)/i);\nconst msgMatch = text.match(/log message\\s*:\\s*(.+)/i);\nconst tsMatch = text.match(/log timestamp:\\s*(\\S+)/i);\nconst traceMatch = text.match(/log traceId\\s*:\\s*(\\S+)/i);\n\nif (serviceMatch) { service = serviceMatch[1].trim(); if (SERVICE_PREFIX) service = service.replace(new RegExp('^' + SERVICE_PREFIX.replace('.', '\\\\.')), ''); }\n\nconst alert = {\n  env,\n  service,\n  traceId: traceMatch ? traceMatch[1] : '',\n  logTimestamp: tsMatch ? tsMatch[1] : '',\n  logMessage: msgMatch ? msgMatch[1].trim() : '',\n  monitorUrl: att.title_link || '',\n  rawText: text\n};\n\nconst formatted_message = `Analyze Incident Alert\n\n**Environment**: ${alert.env}\n**Service**: ${alert.service}\n**Trace ID**: ${alert.traceId || 'N/A'}\n**Log Timestamp**: ${alert.logTimestamp || 'N/A'}\n**Log Message**: ${alert.logMessage || 'N/A'}\n**Monitor URL**: ${alert.monitorUrl || 'N/A'}`;\n\nreturn {\n  json: {\n    skip: false,\n    channel: e.channel,\n    ts: e.ts,\n    thread_ts: e.thread_ts || e.ts,\n    alert,\n    formatted_message\n  }\n};"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Incident?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "loading"
      },
      "id": "loading",
      "name": "Loading",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/projects/system/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_message: $json.formatted_message, agent: 'Incident Analyzer', source: 'slack', requester: 'slack-incident-workflow', metadata: { channel: $json.channel, thread_ts: $json.thread_ts, service: $json.alert.service, env: $json.alert.env, triggered_by: 'datadog' } }) }}",
        "options": {
          "timeout": 330000
        }
      },
      "id": "analyze",
      "name": "Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst p = $('Parse').item.json;\nlet report = r.result || '';\nlet meta = {};\n\ntry {\n  const m = report.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (m) { meta = JSON.parse(m[1]); report = report.replace(/```json[\\s\\S]*?```/g, '').trim(); }\n} catch {}\n\nreturn { json: { ...p, report, meta, execution_id: r.id, context: JSON.stringify({ alert: p.alert, analysis: meta }) } };"
      },
      "id": "extract-meta",
      "name": "Extract Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/format/mrkdwn",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.report }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "format-mrkdwn",
      "name": "Format",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1770,
        250
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const e = $('Extract Meta').item.json;\nreturn { json: { ...e, report: $json.text } };"
      },
      "id": "process",
      "name": "Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ channel: $json.channel, text: $json.report }, $json.thread_ts ? { thread_ts: $json.thread_ts } : {})) }}"
      },
      "id": "post",
      "name": "Post Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        250
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/{{ $('Process').item.json.execution_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reply_channel: $json.channel, reply_ts: $json.ts, context: $('Process').item.json.context }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "set-context",
      "name": "Set Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        250
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Post Report').item.json.channel }}"
        },
        "timestamp": "={{ $('Post Report').item.json.ts }}",
        "name": "one"
      },
      "id": "add-1",
      "name": ":one:",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Post Report').item.json.channel }}"
        },
        "timestamp": "={{ $('Post Report').item.json.ts }}",
        "name": "two"
      },
      "id": "add-2",
      "name": ":two:",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-reactions",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2400,
        250
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Process').item.json.channel }}"
        },
        "timestamp": "={{ $('Process').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-ok",
      "name": "Done OK",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2580,
        250
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/workflows/stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'slack-message-handler', execution_id: $('Process').item.json.execution_id, status: 'success', duration_ms: $('Analyze').item.json.duration_ms, metadata: { service: $('Parse').item.json.alert.service, env: $('Parse').item.json.alert.env } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "record-stats-ok",
      "name": "Stats OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        250
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "loading"
      },
      "id": "remove-loading-err",
      "name": "Done Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1680,
        450
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse').item.json.channel }}"
        },
        "timestamp": "={{ $('Parse').item.json.ts }}",
        "name": "x"
      },
      "id": "add-x",
      "name": "❌",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1860,
        450
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $('Success?').item.json;\nconst p = $('Parse').item.json;\nconst msg = r.status === 'timeout' ? `:hourglass: Analysis timeout (${p.alert.service})` : `:x: Analysis failed: ${r.error?.message || 'Unknown'}`;\nreturn { json: { text: msg, execution_id: r.id } };"
      },
      "id": "err-msg",
      "name": "Err Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ channel: $('Parse').item.json.channel, text: $json.text }, $('Parse').item.json.thread_ts ? { thread_ts: $('Parse').item.json.thread_ts } : {})) }}"
      },
      "id": "reply-err",
      "name": "Reply Err",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        450
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_API_URL }}/v1/workflows/stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'slack-message-handler', execution_id: $json.execution_id, status: $('Success?').item.json.status === 'timeout' ? 'timeout' : 'error', duration_ms: $('Analyze').item.json.duration_ms, metadata: { service: $('Parse').item.json.alert.service, env: $('Parse').item.json.alert.env, error: $('Success?').item.json.error?.message } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "record-stats-err",
      "name": "Stats Err",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        450
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Parse\").item.json.channel }}"
        },
        "timestamp": "={{ $(\"Parse\").item.json.ts }}",
        "name": "white_check_mark"
      },
      "id": "add-check-ok",
      "name": "✅",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2670,
        250
      ],
      "credentials": {
        "slackApi": {
          "id": "__SLACK_CREDENTIAL_ID__",
          "name": "__SLACK_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Incident?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incident?": {
      "main": [
        [
          {
            "node": "Loading",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loading": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Extract Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meta": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "Post Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Report": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": ":one:",
            "type": "main",
            "index": 0
          },
          {
            "node": ":two:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ":one:": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ":two:": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Done OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done OK": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Err": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌": {
      "main": [
        [
          {
            "node": "Err Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Err Msg": {
      "main": [
        [
          {
            "node": "Reply Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Err": {
      "main": [
        [
          {
            "node": "Stats Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅": {
      "main": [
        [
          {
            "node": "Stats OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
