n8n-workflows/slack-reaction-handler.json
{
  "name": "Slack Reaction Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-reaction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "slack-reaction"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const e = $('Webhook').item.json.body;\nif (e.type !== 'reaction_added') return { json: { skip: true } };\nconst r = e.reaction;\nif (!['one', 'two'].includes(r)) return { json: { skip: true } };\nconst channel = e.item?.channel || e.channel;\nconst message_ts = e.item?.ts || e.message_ts;\nif (!channel || !message_ts) return { json: { skip: true } };\nreturn { json: { skip: false, action: r === 'one' ? 'jira_only' : 'jira_autofix', channel, message_ts, user: e.user } };"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "timestamp": "={{ $json.message_ts }}",
        "name": "loading"
      },
      "id": "loading",
      "name": "Loading",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        960,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_API_URL }}/v1/executions/lookup?source=slack&ref_key=reaction_target_ts&ref_value={{ $('Parse').item.json.message_ts }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-context",
      "name": "Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse').item.json;\nconst res = $input.first().json;\nconst ctx = res.execution || {};\nlet jira_key = null, jira_title = '', jira_description = null, priority = 'Medium', alert = {}, can_auto_fix = false;\n\nif (ctx.id && ctx.metadata) {\n  try {\n    const meta = typeof ctx.metadata === 'string' ? JSON.parse(ctx.metadata) : ctx.metadata;\n    if (meta.jira_key) jira_key = meta.jira_key;\n    const context = meta.context ? (typeof meta.context === 'string' ? JSON.parse(meta.context) : meta.context) : {};\n    if (context.alert) alert = context.alert;\n    if (context.can_auto_fix === true) can_auto_fix = true;\n    if (context.analysis) {\n      jira_title = context.analysis.jira_title || '';\n      jira_description = context.analysis.jira_description || null;\n      priority = context.analysis.priority || 'Medium';\n      if (context.analysis.can_auto_fix === true) can_auto_fix = true;\n    }\n  } catch (e) {}\n}\n\nif (!jira_title) jira_title = `[BUG] ${alert.service || 'Unknown'} - ${alert.alert_name || 'Incident'}`;\n\nif (!jira_description || typeof jira_description !== 'object') {\n  jira_description = {\n    version: 1, type: 'doc',\n    content: [\n      { type: 'paragraph', content: [{ type: 'text', text: 'Auto-generated from incident analysis', marks: [{ type: 'em' }] }] },\n      { type: 'heading', attrs: { level: 2 }, content: [{ type: 'text', text: 'Alert Info' }] },\n      { type: 'bulletList', content: [\n        { type: 'listItem', content: [{ type: 'paragraph', content: [{ type: 'text', text: `Service: ${alert.service || 'N/A'}` }] }] },\n        { type: 'listItem', content: [{ type: 'paragraph', content: [{ type: 'text', text: `Environment: ${alert.env || 'N/A'}` }] }] },\n        { type: 'listItem', content: [{ type: 'paragraph', content: [{ type: 'text', text: `Trace ID: ${alert.trace_id || 'N/A'}` }] }] }\n      ]}\n    ]\n  };\n}\n\nreturn { json: { ...parse, execution_id: ctx.id || null, jira_key, jira_title, jira_description, priority, alert, can_auto_fix } };"
      },
      "id": "extract",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.jira_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-jira",
      "name": "Has JIRA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://__JIRA_HOST__/rest/api/3/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { project: { id: '__JIRA_PROJECT_ID__' }, issuetype: { id: '__JIRA_TASK_ISSUE_TYPE_ID__' }, summary: $('Extract').item.json.jira_title || '[BUG] Unknown - Incident', description: $('Extract').item.json.jira_description, priority: { name: $('Extract').item.json.priority === 'High' ? '__JIRA_PRIORITY_HIGH__' : '__JIRA_PRIORITY_MEDIUM__' } } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-jira",
      "name": "Create JIRA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        400
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "5iuB3iFLJn8tZPhM",
          "name": "Jira SW Cloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Extract').item.json;\nconst r = $input.first().json;\nif (!r.key) return { json: { ...prev, jira_key: null, jira_url: null, error: r.errorMessages?.[0] || r.errors?.summary || 'JIRA creation failed' } };\nconst jira_key = r.key;\nconst jira_url = `https://__JIRA_HOST__/browse/${jira_key}`;\nreturn { json: { ...prev, jira_key, jira_url, error: null, new_jira: true } };"
      },
      "id": "parse-new-jira",
      "name": "Parse New JIRA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Extract').item.json;\nreturn { json: { ...prev, jira_url: `https://__JIRA_HOST__/browse/${prev.jira_key}`, error: null, new_jira: false } };"
      },
      "id": "use-existing-jira",
      "name": "Use Existing JIRA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.jira_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "jira-ok",
      "name": "JIRA OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2016,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data.execution_id && data.jira_key) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${process.env.N8N_API_URL}/v1/executions/${data.execution_id}`,\n      body: { jira_key: data.jira_key },\n      json: true,\n      timeout: 5000\n    });\n  } catch (e) {}\n}\nreturn { json: data };"
      },
      "id": "save-jira-key",
      "name": "Save JIRA Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract').item.json.action }}",
                    "rightValue": "jira_only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JIRA Only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract').item.json.action }}",
                    "rightValue": "jira_autofix",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $('Extract').item.json.can_auto_fix }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JIRA + AutoFix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract').item.json.action }}",
                    "rightValue": "jira_autofix",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $('Extract').item.json.can_auto_fix }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AutoFix Not Allowed"
            }
          ]
        },
        "options": {}
      },
      "id": "route",
      "name": "Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2432,
        96
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Save JIRA Key').item.json.channel }}"
        },
        "text": "={{ `:jira-new: <${$('Save JIRA Key').item.json.jira_url}|${$('Save JIRA Key').item.json.jira_key}> ${$('Save JIRA Key').item.json.jira_title}` }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Save JIRA Key').item.json.message_ts }}"
            }
          }
        }
      },
      "id": "reply-jira-only",
      "name": "Reply JIRA Only",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2688,
        -96
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Extract').item.json.message_ts }}",
        "name": "loading"
      },
      "id": "done-jira-only",
      "name": "Done JIRA Only",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2864,
        -96
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "update",
        "issueKey": "={{ $json.jira_key }}",
        "updateFields": {
          "labels": [
            "ai:auto-fix"
          ]
        }
      },
      "id": "add-autofix-label",
      "name": "Add auto-fix Label",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        2688,
        112
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "5iuB3iFLJn8tZPhM",
          "name": "Jira SW Cloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Save JIRA Key').item.json.channel }}"
        },
        "text": "={{ `:jira-new: <${$('Save JIRA Key').item.json.jira_url}|${$('Save JIRA Key').item.json.jira_key}> ${$('Save JIRA Key').item.json.jira_title}\\n:robot_face: \\`ai:auto-fix\\` 라벨 추가됨 - 자동 수정 대기 중` }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Save JIRA Key').item.json.message_ts }}"
            }
          }
        }
      },
      "id": "reply-autofix",
      "name": "Reply AutoFix",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2864,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Extract').item.json.message_ts }}",
        "name": "loading"
      },
      "id": "done-autofix",
      "name": "Done AutoFix",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3040,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('JIRA OK?').item.json;\nreturn { json: { channel: $('Extract').item.json.channel, message_ts: $('Extract').item.json.message_ts, error: d.error || 'JIRA creation failed' } };"
      },
      "id": "error-data",
      "name": "Error Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        528
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Error Data').item.json.channel }}"
        },
        "text": "={{ `:x: JIRA creation failed: ${$('Error Data').item.json.error}` }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Error Data').item.json.message_ts }}"
            }
          }
        }
      },
      "id": "reply-error",
      "name": "Reply Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2416,
        528
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Error Data').item.json.channel }}"
        },
        "timestamp": "={{ $('Error Data').item.json.message_ts }}",
        "name": "loading"
      },
      "id": "remove-loading-err",
      "name": "Remove Loading Err",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2592,
        528
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "timestamp": "={{ $json.message_ts }}",
        "name": "x"
      },
      "id": "add-x",
      "name": "❌",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2768,
        528
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Save JIRA Key').item.json.channel }}"
        },
        "text": "={{ `:jira-new: <${$('Save JIRA Key').item.json.jira_url}|${$('Save JIRA Key').item.json.jira_key}> ${$('Save JIRA Key').item.json.jira_title}\\n:no_entry: 이 이슈는 자동 수정이 불가능합니다` }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Save JIRA Key').item.json.message_ts }}"
            }
          }
        }
      },
      "id": "reply-no-autofix",
      "name": "Reply No AutoFix",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2688,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract').item.json.channel }}"
        },
        "timestamp": "={{ $('Extract').item.json.message_ts }}",
        "name": "loading"
      },
      "id": "done-no-autofix",
      "name": "Done No AutoFix",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2864,
        320
      ],
      "credentials": {
        "slackApi": {
          "id": "EkSzKkXs7wbtV6Cs",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Loading",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loading": {
      "main": [
        [
          {
            "node": "Fetch Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Context": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Has JIRA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has JIRA?": {
      "main": [
        [
          {
            "node": "Use Existing JIRA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create JIRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JIRA": {
      "main": [
        [
          {
            "node": "Parse New JIRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New JIRA": {
      "main": [
        [
          {
            "node": "JIRA OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing JIRA": {
      "main": [
        [
          {
            "node": "JIRA OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JIRA OK?": {
      "main": [
        [
          {
            "node": "Save JIRA Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save JIRA Key": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Reply JIRA Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add auto-fix Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply No AutoFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply No AutoFix": {
      "main": [
        [
          {
            "node": "Done No AutoFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply JIRA Only": {
      "main": [
        [
          {
            "node": "Done JIRA Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add auto-fix Label": {
      "main": [
        [
          {
            "node": "Reply AutoFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply AutoFix": {
      "main": [
        [
          {
            "node": "Done AutoFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Data": {
      "main": [
        [
          {
            "node": "Reply Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Error": {
      "main": [
        [
          {
            "node": "Remove Loading Err",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Loading Err": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
